.allcontainers{
    animation-name:stretchport;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: 0px 0px 20px grey;
    overflow:hidden;
    display: flex;
    width:100%;
    padding-top:20px;

}
.allcontainertab{
    width:50%;

    
}
.maptab{
    width:50%;

}
@keyframes stretchport{
    from{
        width:480px;
        min-height:700px
    }
    to{
        width:95%;
        min-height:900px;
    }
}