.header{
    display: flex;
    width:100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height:8vh;
    background-color: $background;
    margin-bottom: 2vh;
    
}

.medi-logo{
    left:10px;
    width:300px;
}

.title{
    font-size:60px;
    font-weight: 700;
    @media (max-width:480px) {
        font-size:40px; 
    }

}
.title__port{
    color:$theme-color;
}

.bot{
    background-color: $theme-color;
    font-size: 20px;
    padding:10px 40px 10px 40px;
    position: absolute;
    top:10px;
    right:10px;
    box-shadow: $boxshadow;
    outline: none;

}
.bot:hover{
    font-size:30px;
    transition-duration: 1s;
}
a:visited{
    color:black;
}