.header{
    display: flex;
    width:100vw;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height:10vh;
    background-color: $background;
}

.logo{
    position: absolute;
    top:10px;
    left:10px;
}

.title{
    font-size:60px;
    font-weight: 700;

}
.title__port{
    color:$theme-color;
}